<a href="https://colab.research.google.com/github/DiogoBispo/python/blob/master/Python_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#pandas
import pandas as pd
tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

         Produtos  Preço Base Original  ... Multiplicador Imposto  Preço Base Reais
0          Tablet               999.99  ...                   1.1          1099.989
1   Pós Graduação              4500.00  ...                   1.3          5850.000
2         Celular               899.99  ...                   1.1           989.989
3  Passagem Aérea               799.00  ...                   1.3          1038.700
4      Computador              3000.00  ...                   1.1          3300.000
5             SPA               480.48  ...                   1.3           624.624
6    Corte Cabelo                50.00  ...                   1.3            65.000

[7 rows x 5 columns]

In [22]:
#atualizar o multiplicador
tabela.loc[tabela["Tipo"]=="Serviço", "Multiplicador Imposto"] = 1.5


# fazer a conta do Preço Base Reais
tabela["Preço Base Reais"] = tabela["Multiplicador Imposto"] * tabela ["Preço Base Original"]

#criando arquivo excel com a conta acima
tabela.to_excel("Produtos_Pandas.xlsx", index=False)

In [23]:
#openpyxl
from openpyxl import Workbook, load_workbook

planilha = load_workbook("Produtos.xlsx")

#usa a aba que aparece primeiro quando abre o arquivo
aba_ativa = planilha.active

#filtro pela tabela na coluna 'C'
for celula in aba_ativa["C"]:
      if celula.value == "Serviço":
        linha = celula.row
        aba_ativa[f"D{linha}"] = 1.5

planilha.save ("Produtos_OpenPy.xlsx")